.container {
    padding-top: 3rem;
}

.row {
    margin-bottom: 1.5rem;
}

.form-inline {
    text-align: center;
}

.btn,
.btn:disabled:hover {
    background-color: #009688;
    border-color: #009688;
    margin-left: 2rem;
}

.btn:hover {
    background-color: #00796B;
    border-color: #00796B;
}

.form-control:focus {
    border-color: #009688;
}

h4 {
    margin-top: 3rem;
    text-align: center;
}