form {
    padding: 2rem;
}

app-card {
    margin-bottom: 1.5rem;
}

.card.completed,
.card.completed .card-footer {
    background-color: #EEE;
    color: #CCC;
}

btn.completed {
    background: #EEE;
}

form-inline {
    text-align: center;
}

.btn,
.btn:disabled:hover {
    background-color: #009688;
    border-color: #009688;
    margin-left: 2rem;
}

.btn:hover {
    background-color: #00796B;
    border-color: #00796B;
}

.form-control:focus {
    border-color: #009688;
}

h4 {
    margin-top: 3rem;
    text-align: center;
}