#close-button {
    float: right;
}

.card.completed,
.card.completed .card-footer {
    background-color: #EEE;
    color: #CCC;
}

btn.completed {
    background: #EEE;
}

.card.hidden {
    display: none;
}